<div class="container">
  <div class="row justify-content-center align-items-center vh-100">
    <div class="col-12 col-sm-6">
      <h3 class="text-center">So simple you can make a will!</h3>
      <%= simple_form_for(@will) do |f| %>
        <%= f.label :assets_range, label: ('<i class="bi bi-cash-coin"></i> Assets range').html_safe, class:"form-label" %>
        <%= f.input :assets_range, collection: ["< $500k", "$500k - 1$M", "$1M - $5M", "> $5M"], as: :radio_buttons %>

        <%= f.label :primary_beneficiaries, label: ('<i class="bi bi-file-earmark-person"></i> Primary beneficiaries').html_safe, class:"form-label" %>
        <%= f.text_field :primary_beneficiaries, class:"form-control" %>

        <%= f.label :residuary, label: ('<i class="bi bi-piggy-bank"></i> Residuary').html_safe, class:"form-label" %>
        <%= f.text_field :donation, class:"form-control" %>

        <%= f.label :donation, label: ('<i class="bi bi-gift"></i> Donation').html_safe, class:"form-label" %>
        <%= f.text_field :donation, class:"form-control" %>

        <%= f.submit "next", class:"btn btn-primary mt-3" %>
      <% end %>
    </div>
  </div>
</div>
