<div class="container">
  <h1 class="text-center mt-4 mb-4">This is what you think!</h1>
  <div class="row">
    <div class="flex-container col col-md-9">
      <% Funeral::QUESTIONS.each do |type, question| %>
        <div class="item-flip" on:click={toggleFlip} class:flipped={isFlipped}>
          <div class="item-flip-inner">
            <div class="item-flip-front">
              <div class="item-flip-content">
                <span class="fw-bold"><%= question %></span>
              </div>
            </div>
            <div class="item-flip-back position-relative">
              <div class="item-flip-content">
                <%= link_to funerals_path, method: :get do %>
                  <i class="fas fa-edit"></i>
                <% end %>
                <span class="fw-bold"><%= @funeral.send(type) %></span>
                <div class="position-absolute top-0 end-0 mt-1 me-1">
                  <%= link_to "Tweet", "https://twitter.com/intent/tweet?text=#{question + ": "}%20#{@funeral.send(type)}", class: "twitter-share-button", data: {size: "large"}   %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="will-container col col-md-3">
      <div class="card-will">
        <div class="card-body p-0">
          <%= cl_image_tag @funeral.photo.key, class:"card-img-top"%>
        </div>
      </div>
      <div class="card-will">
        <div class="card-body p-0">
          <%= link_to new_will_path, class: 'text-black text-decoration-none' do %>
            <%= image_tag "will2.webp", class:"card-img-top" %>
            <h5 class="card-title">Create a will</h5>
            <p class="card-text">You can make a will in a simple and easy way. We are here for you!</p>
          <% end %>
        </div>
      </div>
      <div class="card-will">
        <div class="card-body p-0">
          <%= link_to articles_path, class: 'text-black text-decoration-none' do %>
            <%= image_tag "landing.jpg", class:"card-img-top" %>
            <h5 class="card-title">Articles Funeral & Hospice</h5>
            <p class="card-text">There are so good articles around the world what people are doing when they face own end</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
