<div class="container">
  <div class="card-container">
    <div class="card-contents">
      <div class="progressbar">
        <a href="#">1</a>
        <a href="#">2</a>
        <a class="active" href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">7</a>
        <a href="#">8</a>
        <a href="#">9</a>
      </div>
      <p><i class="bi bi-music-note-list"></i> <%= Funeral::QUESTIONS[:music] %> <i class="bi bi-music-note-list"></i></p>
      <%= form_for(@funeral, :url => wizard_path, :method => :put) do |f| %>
        <%= f.text_field :music %>
        <%= f.submit 'Next', :class => 'btn btn-primary' %>
        <% if @funeral.music.present? %>
          <%= link_to 'Finish', wills_path, class: 'btn btn-success' %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="flash flash-success alert alert-dismissible fade show" role="alert">
    <span><strong>➡️</strong> For the music lovers! 🎶 Is your final song something rousing for people to rock out to or something somber to tug at the heartstrings?</span>
    <a data-bs-dismiss="alert" aria-label="Close">
      <i class="fas fa-times"></i>
    </a>
  </div>
</div>
