<div class="container">
  <%= simple_form_for @funeral do |f| %>
    <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <span>10 words that describe your life so far</span>
          <%= f.input :ten_words %>
        </div>
        <div class="carousel-item">
          <span>What was your the best memory?</span>
          <%= f.input :memory %>
        </div>
        <div class="carousel-item">
          <span>The music you want to play at the funeral</span>
          <%= f.input :music %>
        </div>
        <div class="carousel-item">
          <span>Is there anyone you’d never like to call to a funeral?</span>
          <%= f.input :no_invite %>
        </div>
        <div class="carousel-item">
          <span>Is there anything you wanted to say but couldn’t?</span>
          <%= f.input :sending_message %>
        </div>
        <div class="carousel-item">
          <span>What do you want to do when you become a vegetable patient?</span>
          <%= f.input :unaware_state %>
        </div>
        <div class="carousel-item">
          <span> In the event that you became too sick to speak for yourself, who would you like to speak for you?</span>
          <%= f.input :arrangement %>
        </div>
        <div class="carousel-item">
          <span>Have you ever thought about Organ donation after circulatory death?</span>
          <%= f.input :representative %>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <%= f.submit class:'btn btn-success' %>
  <% end  %>
</div>
