<div class="container">
  <div class="card-container">
    <div class="card-contents">
      <div class="progressbar">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a  class="active" href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">7</a>
        <a href="#">8</a>
        <a href="#">9</a>
      </div>
      <p><i class="bi bi-person-x-fill"></i> <%= Funeral::QUESTIONS[:no_invite] %> <i class="bi bi-person-x-fill"></i></p>
      <%= form_for(@funeral, :url => wizard_path, :method => :put) do |f| %>
        <%= f.text_field :no_invite %>
        <%= f.submit 'Next', :class => 'btn btn-primary' %>
        <% if @funeral.no_invite.present? %>
          <%= link_to 'Finish', wills_path, class: 'btn btn-success' %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="flash flash-success alert alert-dismissible fade show" role="alert">
    <span><strong>➡️</strong> A tougher one now maybe. 💢 It may sound like a strange question but funerals are emotional times for everyone. It's important that a funeral is a time for grieving and not a chance to start up old family feuds.</span>
    <a data-bs-dismiss="alert" aria-label="Close">
      <i class="fas fa-times"></i>
    </a>
  </div>
</div>
