<div class="container mt-3">
  <div class="card-contents funeral-margin" data-controller="loading">
    <div class="progressbar">
      <a class="active" href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a href="#">7</a>
      <a href="#">8</a>
      <a href="#">9</a>
    </div>
    <p> <i class="bi bi-journal-text"></i> <%= Funeral::QUESTIONS[:ten_words] %> <i class="bi bi-journal-text"></i> </p>
    <%# <div %>
    <%# class="ldBar" %>
    <%# data-stroke="data:ldbar/res, %>
    <%# gradient(0,1,#f99,#ff9)" %>
    <%# ></div> %>
    <%= simple_form_for(@funeral, :url => wizard_path, :method => :put) do |f| %>
      <%= f.input :tag_list,
                value_method: :name,
                 legend_tag: false,
                  as: :check_boxes,
                  collection: ActsAsTaggableOn::Tag.all.sort,
                  input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item' %>
      <%= f.submit 'Next', :class => 'btn btn-primary' %>
      <% if @funeral.ten_words.present? %>
        <%= link_to 'Finish', wills_path, class: 'btn btn-success' %>
      <% end %>
    <% end %>
  </div>
  <div class="flash flash-success alert alert-dismissible fade show" role="alert">
    <span><strong>➡️</strong> An easy question to start with! 💭 What words best describe you? Pick however many you like!</span>
    <a data-bs-dismiss="alert" aria-label="Close">
      <i class="fas fa-times"></i>
    </a>
  </div>
</div>
