<div class="container mt-4">
  <h2 class="text-center">What others think</h2>
  <div class="card-columns">
    <div class="card">
      <img class="card-img-top" src="https://m.media-amazon.com/images/S/aplus-media-library-service-media/bd746e32-da5d-4547-b9c0-47a7ec5160cc.__CR0,0,4042,1250_PT0_SX970_V1___.png" alt="Card image cap" >
      <div class="card-body">
        <h5 class="card-title">Duck, Death and the Tulip</h5>
        <p class="card-text">“Death is our friend precisely because it brings us into absolute and passionate presence with all that is here, that is natural, that is love,” Rilke wrote in contemplating how befriending our mortality can help us feel more alive.</p>
      </div>
      <%= link_to "", "https://www.themarginalian.org/2016/05/04/duck-death-and-the-tulip-wolf-erlbruch/", class:"card-link", target: "_blank" %>
    </div>
    <div class="card">
      <div class="card-body">
        <div style="max-width:854px">
          <div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://embed.ted.com/talks/lang/en/alison_killing_there_s_a_better_way_to_die_and_architecture_can_help" width="854" height="480" style="position:absolute;left:0;top:0;width:100%;height:100%" frameborder="0" scrolling="no" allowfullscreen></iframe></div>
        </div>
        <br>
        <h5 class="card-title">There’s a better way to die, and architecture can help</h5>
        <p class="card-text">In this short, provocative talk, architect Alison Killing looks at buildings where death and dying happen -- cemeteries, hospitals, homes. The way we die is changing, and the way we build for dying ... well, maybe that should too. It's a surprisingly fascinating look at a hidden aspect of our cities, and our lives.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://images.squarespace-cdn.com/content/v1/58051407e4fcb5529e856a57/1606791134738-ZF38UZ61TX3F06PARR8D/3D1DB93E-53F9-43B6-B559-C1195B03D59F.JPG?format=2500w" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Being Mortal: Medicine and What Matters in the End by Atul Gawande</h5>
        <p class="card-text">Our ultimate goal, after all, is not a good death but a good life to the very end</p>
      </div>
      <%= link_to "", "http://atulgawande.com/book/being-mortal/", class:"card-link", target: "_blank"%>
    </div>
    <div class="card bg-primary text-white text-center p-3">
      <blockquote class="blockquote mb-0">
        <p>“Each day, we wake slightly altered, and the person we were yesterday is dead. So why, one could say, be afraid of death, when death comes all the time?” </p>
        <footer class="blockquote-footer">
          <small>
            John Updike <cite title="Source Title">Self-Consciousness </cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">What happens after death - Elizabeth Kubler-Ross</h5>
        <p class="card-text">She wanted to talk more widely about death and dying: helping terminally ill people come to terms with their diagnoses, helping caregivers and family members listen to them and support them while dealing with their own emotions, and encouraging everybody to live their life as fully as possible in the knowledge that their time on Earth is finite.</p>
      </div>
      <%= link_to "", "https://www.ekrfoundation.org/5-stages-of-grief/on-death-and-dying/", class:"card-link", target: "_blank"%>
    </div>
    <div class="card">
      <%= image_tag "books2.png", class:"card-img-top" %>
      <%= link_to "", "https://www.flavorwire.com/422783/10-beautiful-poems-about-death", class:"card-link", target: "_blank"%>
    </div>
    <div class="card p-3 text-right">
      <blockquote class="blockquote mb-0">
        <p>“If there is meaning in life at all, then there must be meaning in suffering. Suffering is an ineradicable part of life, even as fate and death. Without suffering and death human life cannot be complete.”</p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            Viktor Frankl <cite title="Source Title"> “Man's Search for Meaning”</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card">
      <div class="card-body">
        <div style="max-width:854px">
          <div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://embed.ted.com/talks/lang/en/lux_narayan_what_i_learned_from_2_000_obituaries" width="854" height="480" style="position:absolute;left:0;top:0;width:100%;height:100%" frameborder="0" scrolling="no" allowfullscreen></iframe></div>
        </div>
        <br>
        <h5 class="card-title">What I learned from 2,000 obituaries</h5>
        <p class="card-text">Lux Narayan starts his day with scrambled eggs and the question: "Who died today?" Why? By analyzing 2,000 New York Times obituaries over a 20-month period, Narayan gleaned, in just a few words, what achievement looks like over a lifetime. Here he shares what those immortalized in print can teach us about a life well lived.</p>
      </div>
    </div>
  </div>
</div>
