<!DOCTYPE html>
<html>
  <head>
    <div id='wrapper'>
      <title>Wille</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer">
      </script>
    </head>
    <body>
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
      <%= yield %>
    </body>
  </div>
  <%# <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="footer-copyright">
      This website is made with <i class="fas fa-heart"></i> Reina <img class="avatar" alt="avatar" src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1652706034/emytp6r1z6scgu0utfic.jpg" /> Chris <img class="avatar" alt="avatar" src="https://avatars.githubusercontent.com/u/97549793?v=4" /> Bora <img class="avatar" alt="avatar" src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1649038887/eorexhkcougse3ypnt6g.jpg" />
    </div>
  </div> %>
</html>


<script>
/* scroll menu  */

window.addEventListener('scroll', function(){
  const header = document.querySelector('.navbar-wagon');
  const footer = document.querySelector('.footer');
  header.classList.toggle("sticky", window.scrollY > 0);
  footer.classList.toggle("sticky", window.scrollY > 0);
})


  var canvas = document.getElementById("JohnHancock-canvas");
  var context = canvas.getContext("2d");
  context.clearRect(0, 0, canvas.width, canvas.height);

</script>
